* {box-sizing: border-box;}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/loop.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 120vh;
  overflow-x: hidden;
}
body i{
  font-family: 'FontAwesome' !important;
  font-style: normal;
}

.fc {
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.section h1 {
  position: absolute;
  text-align: center;
  margin-top: -15%;
  font-family: 'Alegreya Sans SC';
  font-size: 5em;
  color: #BFEFF8;
  z-index: 1;
}

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #425C60;
  background-size: cover;
  width: 100vw;
  height: 120vh;
  opacity: 0.55;
}

.container {
  position: relative;
  width: 100%;
  height: 48vh;
  margin: 3.125em auto;
  z-index: 1;
}

.container .box {
  position: inherit;
  top: 25%;
  width: calc(100%/5);
  height: 100%;
  float: left;
  margin-left: 10%;
  box-sizing: border-box;
  border-radius: 0.625em;
  overflow: hidden;
  opacity: 0.6;
  transition: 0.5s;
  animation: fadeIn 0.5s;
}

.container .box .icon {
  position: inherit;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  transition: 0s;
  z-index: 0;
}

.container .box:hover .icon {
  opacity: 0;
  transition: 0.5s;
}

.container .box .icon .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  transition: 0.5s;
  color: #fff;
}

.container .box .content {
  position: absolute;
  top: 0%;
  height: calc(100% - 6.25em);
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 0.5s;
  opacity: 1;
}

::-webkit-scrollbar {
width: 0.75em;
height: 0.75em;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 0.625em;
}

::-webkit-scrollbar-thumb {
border-radius: 0.625em;
background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
background: #999;
}

.container .box .content h3 {
  margin: 0 0 0.625em;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 1.5em;
  width: 100%;
}

.container .box:hover .content h3 {
  top: -6.25em;
  opacity: 1;
  transition: 0.5s;
  width: 100%;
}

.container .box .content p {
  margin: 0;
  text-align: center;
  padding: 0;
  color: #fff;
  opacity: 0;
  width: 100%;
  font-size: 1em;
}

.container .box:hover .content p{
  opacity: 1;
  transition: 0.5s;
  width: 100%;
}

.container .box:nth-child(1) .icon {
  background: #000;
}

.container .box:hover:nth-child(1) {
  opacity: 1;
  transition: 0.5s;
  /* overflow-y: scroll; */
  background: #648AD5;
}

.container .box:nth-child(2) .icon {
  background: #000;
}

.container .box:hover:nth-child(2){
  opacity: 1;
  transition: 0.5s;
  background: #648AD5;
  overflow-y: scroll;
}

.container .box:nth-child(3) .icon {
  background: #000;
}

.container .box:hover:nth-child(3){
  opacity: 1;
  transition: 0.5s;
  /* overflow-y: scroll; */
  background: #648AD5;
}

.button{
  background-color: #224a8c;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 50%;
  top: inherit;
  width: 1.5625em;
  height: 1.5625em;
  position: inherit;
  opacity: 0;
  left: 85%;
}

.button .fas{
  position: absolute;
  top: 19%;
  left: 22%;
}

.container .box:hover .button{
  opacity: 1;
}

.button:hover {
  background-color: #03adfc;
}

/* -----bigbox----- */

.container .bigbox {
  position: absolute;
  top: -50%;
  width: 80vw;
  height: 85vh;
  margin-left: 10%;
  box-sizing: border-box;
  border-radius: 0.625em;
  overflow: hidden;
  opacity: 1;
  transition: 0s;
  background: #648AD5;
  z-index: 2;
}

.container .bigbox .icon {
  opacity: 0;
}

.container .bigbox .content {
  position: absolute;
  top: 5%;
  padding: 5%;
  margin-top: 0%;
  margin-bottom: 5%;
  transition: 0s;
  opacity: 1;
  width: 100%;
}

.container .bigbox .content h3 {
  margin-top: -1.25em;
  margin-bottom: 0.9375em;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 1.875em;
  opacity: 1;
  transition: 0.5s;
  transition: 0s;
  width: 100%;
}

.container .bigbox .content p {
  margin: 0;
  text-align: left;
  padding: 0;
  color: #fff;
  width: 100%;
  font-size: 1em;
}

/* if i need scrollbars */
/* .bigbox:nth-child(1) {
  overflow-y: scroll;
}
.bigbox:nth-child(2) {
  overflow-y: hidden;
}
.bigbox:nth-child(3) {
  overflow-y: hidden;
} */

.bigbox .button {
  background-color: #224a8c;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 50%;
  width: 1.5626em;
  height: 1.5625em;
  position: inherit;
  opacity: 1;
  left: 92%;
}

.bigbox .button:hover{
  background-color: #03adfc;
}

.credits{
  background-color: #425C60;
  position: relative;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  opacity: 1;
}

h4{
  font-size: 0.625em;
  color: #ababab;
  text-align: center;
  white-space: pre-line;
}

.credits a{
  color:#6a9ecc;
  font-style: italic;
}

.projects{
  position: relative;
}

.projectimg{
  opacity: 0;
  width: 100%;
  height: 45%;
  border: 0.0625em solid white;
  border-radius: 2%;
  display: block;
}

.projectoverlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  border-radius: 2%;
}

.text{
  position: absolute;
  font-size: 0.9375em;
  font-weight: bold;
  color: white;
  width: 100%;
  top: 20%;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.box:hover .projectimg{
  opacity: 1;
  transition: 0.5s ease;
}

.projectoverlay:hover .text{
  opacity: 1;
  transition: 0.5s ease;
}

.githubimg{
  position: absolute;
  text-align: center;
  color: white;
  padding: 0.125em;
  cursor: pointer;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  text-decoration: none;
  font-size: 0.75em;
}

.githubimg:hover{
  color: #0765f7;
}

.bigbox .bigprojects{
  position: relative;
}

.bigbox .bigprojectimg{
  top: 6vh;
  border: 0.0625em solid white;
  border-radius: 2%;
  right: 2vw;
  height: 20%;
  width: 30%;
  border-radius: 2%;
  display: block;
  margin: none;
  float: right;
  position: relative;
}

.bigbox .border{
  border: none;
  box-shadow: 0em 0em 0.625em 0em #425f8c;
  width: 100%;
  height: 40vh;
  vertical-align: top;
  float: right;
  position: absolute;
  background-color: #83b0f7;
}

.bigbox .description{
  float: left;
  width: 100%;
  position: relative;
}

.bigbox .description .projtitle{
  color: #313654;
  font-size: 1.375em;
  text-align: center;
  margin-top: 1%;
  width: 70%;
  position: relative;
}

.bigbox .description .texts{
  text-align: left;
  color: #292e4a;
  font-size: 1.125em;
  width: 60%;
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 30%;
  position: relative;
  display: block;
}

.bigbox .githubimg{
  color: blue;
  font-size: 1.125em;
  text-align: left;
  margin-top: 1%;
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 35%;
  transform: translateX(-50%);
  text-decoration: none;
}

.bigbox .githubimg:hover{
  color: #8800ff;
}

.bigbox .used{
  position: relative;
  background: #adcdff;
  text-align: center;
  display: inline-block;
  padding: 1vh 1vw;
  border: 0.125em solid blue;
  border-radius: 1.5625em;
  margin: 0.3125em;
  bottom: -35%;
  font-size: 1em;
}

.portraitmode{
  position: absolute;
  background-color: blue;
  background-size: cover;
  width: 100vw;
  height: 120vh;
  display: none;
  z-index: 200;
}

.portraitmode p{
  position: relative;
  font-size: 1em;
  color: #fff;
  top: 40%;
  text-align: center;
}

/*mobile portrait*/
@media screen and (min-width:320px) and (max-width: 480px){
.fc {
  overflow: hidden;
  display: none;
}
body{
  overflow: hidden;
}
.portraitmode{
  display: block;
}

  /* .section h1{
    font-size: 2.5em;
  }
  .container .box .icon .fas {
    font-size: 2.5em;
  }
  .container .box .content h3 {
    font-size: 0.75em;
  }
  .container .bigbox .content h3 {
    font-size: 0.9375em;
  }
  .button {
    font-size: 0.5em;
  }
  h4{
    font-size: 0.3125em;
  }
  .bigbox .button {
    font-size: 0.5em;
  }
  .text{
    font-size: 0.46875em;
  }
  .githubimg{
    font-size: 0.375em;
  }
  .bigbox .description .projtitle{
    font-size: 0.6875em;
  }
  .bigbox .description .texts{
    font-size: 0.5625em;
  }
  .bigbox .githubimg{
    font-size: 0.5625em;
  }
  .container .box .content p {
    font-size: 0.5em;
  }
  .container .bigbox .content p {
    font-size: 0.5em;
  }
  .bigbox .used{
    font-size: 0.5em;
  } */
}

/*mobile landscape*/
@media screen and (min-width:480px){
  .section h1{
    font-size: 3.33em;
  }
  .container .box .icon .fas {
    font-size: 3.33em;
  }
  .container .box .content h3 {
    font-size: 1em;
  }
  .container .bigbox .content h3 {
    font-size: 1.25em;
  }
  .button {
    font-size: 0.666em;
  }
  h4{
    font-size: 0.4165em;
  }
  .bigbox .button {
    font-size: 0.666em;
  }
  .text{
    font-size: 0.46875em;
  }
  .githubimg{
    font-size: 0.625em;
  }
  .bigbox .description .projtitle{
    font-size: 0.6875em;
  }
  .bigbox .description .texts{
    font-size: 0.5625em;
  }
  .bigbox .githubimg{
    font-size: 0.916em;
  }
  .container .box .content p {
    font-size: 0.666em;
  }
  .container .bigbox .content p {
    font-size: 0.666em;
  }
  .bigbox .used{
    font-size: 0.666em;
  }
}

/*ipad portrait*/
@media screen and (min-width:768px){
  .section h1{
    font-size: 4.167em;
  }
  .container .box .icon .fas {
    font-size: 4.167em;
  }
  .container .box .content h3 {
    font-size: 1.25em;
  }
  .container .bigbox .content h3 {
    font-size: 1.5625em;
  }
  .button {
    font-size: 0.8334em;
  }
  h4{
    font-size: 0.521em;
  }
  .bigbox .button {
    font-size: 0.833em;
  }
  .text{
    font-size: 0.75em;
  }
  .githubimg{
    font-size: 0.6em;
  }
  .bigbox .description .projtitle{
    font-size: 1.1em;
  }
  .bigbox .description .texts{
    font-size: 0.9em;
  }
  .bigbox .githubimg{
    font-size: 0.9em;
  }
  .container .box .content p {
    font-size: 0.8334em;
  }
  .container .bigbox .content p {
    font-size: 0.8334em;
  }
  .bigbox .used{
    font-size: 0.8334em;
  }
}

/*browser, ipad landscape*/
@media screen and (min-width:1024px){
  .section h1{
    font-size: 5em;
  }
  .container .box .icon .fas {
    font-size: 5em;
  }
  .container .box .content h3 {
    font-size: 1.5em;
  }
  .container .bigbox .content h3 {
    font-size: 1.875em;
  }
  .button {
    font-size: 1em;
  }
  h4{
    font-size: 0.625em;
  }
  .bigbox .button {
    font-size: 1em;
  }
  .text{
    font-size: 0.9375em;
  }
  .githubimg{
    font-size: 0.75em;
  }
  .bigbox .description .projtitle{
    font-size: 1.375em;
  }
  .bigbox .description .texts{
    font-size: 1.125em;
  }
  .bigbox .githubimg{
    font-size: 1.125em;
  }
  .container .box .content p {
    font-size: 1em;
  }
  .container .bigbox .content p {
    font-size: 1em;
  }
  .bigbox .used{
    font-size: 1em;
  }
}

/* browser*/
@media screen and (min-width:1200px){
  .section h1{
    font-size: 6em;
  }
  .container .box .icon .fas {
    font-size: 6em;
  }
  .container .box .content h3 {
    font-size: 1.8em;
  }
  .container .bigbox .content h3 {
    font-size: 2.25em;
  }
  .button {
    font-size: 1.2em;
  }
  h4{
    font-size: 0.75em;
  }
  .bigbox .button {
    font-size: 1.2em;
  }
  .text{
    font-size: 1.125em;
  }
  .githubimg{
    font-size: 0.9em;
  }
  .bigbox .description .projtitle{
    font-size: 1.65em;
  }
  .bigbox .description .texts{
    font-size: 1.35em;
  }
  .bigbox .githubimg{
    font-size: 1.35em;
  }
  .container .box .content p {
    font-size: 1.2em;
  }
  .container .bigbox .content p {
    font-size: 1.2em;
  }
  .bigbox .used{
    font-size: 1.2em;
  }
}

/* browser*/
@media screen and (min-width:1600px){
  .section h1{
    font-size: 7.5em;
  }
  .container .box .icon .fas {
    font-size: 7.5em;
  }
  .container .box .content h3 {
    font-size: 2.25em;
  }
  .container .bigbox .content h3 {
    font-size: 2.8125em;
  }
  .button {
    font-size: 1.5em;
  }
  h4{
    font-size: 0.9375em;
  }
  .bigbox .button {
    font-size: 1.5em;
  }
  .text{
    font-size: 1.40625em;
  }
  .githubimg{
    font-size: 1.125em;
  }
  .bigbox .description .projtitle{
    font-size: 2.0625em;
  }
  .bigbox .description .texts{
    font-size: 1.6875em;
  }
  .bigbox .githubimg{
    font-size: 1.6875em;
  }
  .container .box .content p {
    font-size: 1.5em;
  }
  .container .bigbox .content p {
    font-size: 1.5em;
  }
  .bigbox .used{
    font-size: 1.5em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
