<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/main.css">
<link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/png" href="css/img/startup.png">

</head>
<body>

<div class="fc">
  <div class="section">
    <h1> L i a m &nbsp &nbsp G i l l i e s </h1>
    <div class="container" id="container">
      <div class="box" id="box1">
        <div class="icon">
          <i class="fas fa-user-circle" aria-hidden="true">
          </i>
        </div>
        <div class="content">
          <h3>About Me</h3>
          <div class="button" id="button1">
            <i class="fas fa-expand" id="buttonimg1" aria-hidden="true">
            </i>
          </div>
          <p> this is me blah blabh lahb ladsfs
          adskdsaf aslf
        blah blah blah blah blah blah blah blah blah
      blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
blah blah blah blah blah blah blah blah blah
blah blah blah blah blah blah blah blah blah
blah blah blah blah blah
blah blah blah blah blah blah blah blah blah
blah blah blah blah blah blah blah blah blah
blah blah blah blah blah blah blah blah blah </p>
        </div>
      </div>
      <div class="box" id="box2">
        <div class="icon">
          <i class="fas fa-envelope" aria-hidden="true">
          </i>
        </div>
        <div class="content">
          <h3>Contact Me!</h3>
          <div class="button" id="button2">
            <i class="fas fa-expand" id="buttonimg2" aria-hidden="true">
            </i>
          </div>
          <p>more filler
            text who reads this aha
            blah blah blah blah blah blah blah blah blah
          blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah
      blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah</p>
        </div>
      </div>
      <div class="box" id="box3">
        <div class="icon">
          <i class="fas fa-server" aria-hidden="true">
          </i>
        </div>
        <div class="content">
          <h3>Projects</h3>
          <div class="button" id="button3">
            <i class="fas fa-expand" id="buttonimg3" aria-hidden="true">
            </i>
          </div>
          <p>woohoo more filler text weeee blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah
      blah blah blah blah blah blah blah blah blah
    blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah</p>
        </div>
      </div>
    </div>
  </div>

  <div class="gif-container">
    <div class="color-overlay">
    </div>
    <image class="resize"></image>
  </div>

<div class="credits">
<h4>Credits: Tab icon made by <a href=https://www.freepik.com/ target="_blank">Freepik</a> from <a href=https://www.flaticon.com/ target="_blank">www.flaticon.com</a>
  Background <a href="https://www.youtube.com/watch?v=-MKapbz0GIo" target="_blank" style="color:#6a9ecc">here.</a>
</h4>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
