<!DOCTYPE html>
	<html>
		<head>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<p><a href="/">Home</a></p>
		        	<p><a href="/about">About</a></p>
	        		<p><a href="/cv">Projects</a></p>
	        		<p><a href="/blog">Other</a></p>
	    		</ul>
			</nav>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lwgillies@gmail.com">email</a></li>
	        		<li><a href="https://github.com/liamgillies">github.com/liamgillies</a></li>
				</ul>
			</footer>
		</body>
	</html>
